/* Generics*/
ul {
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
}


/* Utils*/
.nav-container {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}



/* RESET _Layout.cshtml*/
#my-navbar{
    background-color: black;
    min-height: 80px;
    color: white;
}

#navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
