/*Importazione font in locale*/
@font-face {
    font-family: 'Comic Neue';
    src: url('../fonts/ComicNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('../fonts/ComicNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('../fonts/ComicNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}




/* Generics*/
body {
    font-family: 'Comic Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}


ul {
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
}


/* Utils*/
.nav-container {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}



/* RESET _Layout.cshtml*/
#my-navbar{
    background-color: black;
    min-height: 80px;
    color: white;
}

#header-title{
    font-size: 2rem;
}

#navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
